@font-face {
  font-family: Poppins-Bold;
  src: url("../font/Poppins-Bold.otf");
}
@font-face {
  font-family: Poppins-Regular;
  src: url("../font/Poppins-Regular.otf");
}
@font-face {
  font-family: Poppins-SemiBold;
  src: url("../font/Poppins-SemiBold.otf");
}
.container{
	max-width: 1170px;
	margin: 0 auto;
}
.btn{
	padding: 10px 14px;
	color: #242f51;
	text-align: center;
	border-radius: 20px;
	display: inline-block;
	width: auto;
}
.btn:hover{
	color: white;
	background: #2500f9;
}
.big-btn{
	padding: 10px 35px;
	border-radius: 30px;
	color: #2500f9;
	font-family: poppins-semibold;
}
.title{
	font:36pt Poppins-SemiBold;
	color: #242f51;
}
.mini-title{
	font: 20pt Poppins-SemiBold;
	color: #242f51;
}
.red{
	color: #f55767;
}
.blue{
	color: #2563ff;
}
.green{
	color: #40975f;
}
.padding100px{
	padding: 100px 0;
}
.flex{
	display: flex;
	align-items: center;
}
.width1600px{
	max-width: 1600px;
	margin: 0 auto;
}




body{
	margin: 0 auto;
	color: #616368;
	font: 16pt Poppins-Regular bolder;
}
.header{
	width: 100%;
	padding-top: 90px;
	background: url("../images/header_bg.png") center bottom repeat-x;
}
.header .top-bar ul{
	width: 100%;
	overflow: auto;
}
.header .top-bar ul li{
	float: left;
}
.header .top-bar ul li:first-child{
	margin-right: 350px;
	padding: 8px 0 0 0;
}
.header .slogan{
	padding: 60px 70px;
}
.header .slogan div{
    width: 50%;
}
.header .slogan p:first-child{
	background: url(" ../images/header_icon.png") no-repeat;
	font-size: 18pt;
	padding: 0 0 0 45px;
	color: #242f51;
	line-height: 38px;
}
.header .slogan p:nth-of-type(2){
	font: 40pt Poppins-SemiBold;
	color: #242f51;
}
.header .slogan p:nth-of-type(3){
	margin-bottom: 35px;
}
.header .slogan .right img{
	float: right;
}




.content{

}
.content .row1{
	text-align: center;
}
.content .row1 p{
	margin-bottom: 30px;
}
.content .row1 img{
	margin: 0 35px;
}
.content .row2{
	max-width: 1600px;
	margin: 0 auto;
	background: url("../images/features_phone.png") 100px center no-repeat;
}
.content .row2 .right{
	margin-left: 50%;
	width: 50%;
}
.content .row2 .right .row{
	margin-top: 30px;
}
.content .row2 .right .row img{
	margin-right: 30px;
}
.content .row3 .top{
	margin-bottom: 50px;
}
.content .row3 .top p{
	width: 50%;
}
.content .row3 .bot .row{
	width: 33%;
	padding-right: 70px;
}
.content .row4{
	max-width: 1600px;
	margin: 0 auto;
	background: url("../images/apps.png") 100px center no-repeat;
}
.content .row4 .container div{
	width: 50%;
	margin-left: 50%;
}
.content .row4 .container p:nth-of-type(2){
	margin: 30px 0;
}
.content .row5{
	text-align: center;
}
.content .row5 p:first-child{
	width: 600px;
	margin: 0 auto;
	margin-bottom: 30px;
}
.content .row5 .flex{
	flex-wrap: wrap;
}
.content .row5 .col{
	width: 33%;
	padding: 0 30px;
	margin-top: 30px;
}
.content .row6{
	max-width: 1600px;
	margin: 0 auto;
	background: url("../images/phone2.png") right center no-repeat;
}
.content .row6 .left{
	width: 670px;
}
.content .row6 .flex{
	flex-wrap: wrap;
}
.content .row6 .col{
	width: 50%;
	margin-top: 30px;
	padding-right: 30px;
}
.row7{
	text-align: center;
}
.row7>p:nth-of-type(2){
	margin: 30px auto;
}
.row7 .btn-border{
	display: table;
	width: auto;
	border: 2px solid #ebebeb;
	margin: 0 auto;
	padding: 5px;
	border-radius: 30px;
}
.row7 .flex{
	justify-content: center;
}
.row7 .col{
	width: 350px;
	padding: 30px;
}
.row7 .col .lh{
	line-height: 35px;
}
.row7 .right{
	width: 350px;
	padding-top: 80px;
}
.row8{
	max-width: 1600px;
	margin: 0 auto;
	background: url("../images/people.png") left center no-repeat;
}
.row8 .container>div{
	width: 50%;
	margin-left: 50%;
}
.row8 .container .mg15px{
	margin: 15px 0;
}
.row8 .flex{
	background: url("../images/ceo_avt.png") left center no-repeat;
}
.row8 .flex p{
	width: 70%;
	padding: 30px 100px;
}
.row9 ul li{
	background: #f5f7fa;
	padding: 10px 0;
	margin: 5px 0;
}
.footer{
	width: 100%;
}
.footer .top{
	background: url("../images/footer_bg.png") right top no-repeat ;
	z-index: 1;
}
.footer .bot{
	background: #09142e;
	text-align: center;
	z-index: -1;
}
.footer .bot .flex{
	justify-content: center;
	margin: 20px 0;
}
.footer a{
	color: white;
}